<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score predictor</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.7.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.9/angular-route.js"></script>
    <script src="../static/matches.js"></script>
    <script src="../static/requests.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
<div class = "container"  ng-app = "matchModule" ng-controller = "matchController as vm">
    <div class = "centered">
        <div class = "title">
            <h1>Math Soccer Predictor</h1>
            <h5>Soccer betting tips based on a mathematical model</h5>
        </div>
        <div>
            <div class = "dateselector">
                <label><h5>Select date:</h5></label></br>
                <input type = "date" ng-model="vm.dateselector" ng-change="vm.updateData()">
            </div>
            <div class = "profits">
                <h5>Profit this day: {{vm.dayProfit}}</h5>
              <!--  <h5>Profit this month: {{vm.monthProfit}}</h5>
                <h5>Profit this year: {{vm.yearProfit}}</h5>
                <h5>Profit all time: {{vm.profit}}</h5> -->
            </div>
            <h5 ng-if = "betMatchesHome.length==0 && betMatchesAway.length==0">Er zijn vandaag geen tips. Morgen meer geluk!</h5>
        </div>
    </div>

    <div class = "row">
        <!--<div class="col-lg-6 col-md-6 col-sm-6" ng-repeat = "match in vm.matches">
                <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                <h6>Bet:</h6> {{match.teams.home_team}} to win</br>
                <h6>Odd:</h6> {{match.odd.homeOdd}}</br>
                <h6>Stake:</h6> {{match.homeStake}}</br>
                <h6>Profit:</h6> {{match.profit}}</br>
        </div>
-->
        <div class = "col-lg-6 col-md-6 col-sm-6 list-group" ng-repeat = "match in vm.matches | byHomeStake as betMatchesHome">
            <li class = "list-group-item list-group-item-success" ng-if="match.profit > 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.home_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.homeOdd}}</br>
                    <h6>Stake:</h6> {{match.homeStake}}</br>
                    <h6>Profit:</h6> {{match.profit}}</br>
                </div>
            </li>
            <li class = "list-group-item list-group-item-danger" ng-if="match.profit < 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.home_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.homeOdd}}</br>
                    <h6>Stake:</h6> {{match.homeStake}}</br>
                    <h6>Profit:</h6> {{match.profit}}</br>
                </div>
            </li>
            <li class = "list-group-item list-group-item-info" ng-if="match.profit == 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.home_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.homeOdd}}</br>
                    <h6>Stake:</h6> {{match.homeStake}}</br>
                </div>
            </li>
        </div>
        <ul class = "col-lg-6 col-md-6 col-sm-6  list-group" ng-repeat = "match in vm.matches | byAwayStake as betMatchesAway">
            <li class = "list-group-item list-group-item-success" ng-if="match.profit > 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.away_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.awayOdd}}</br>
                    <h6>Stake:</h6> {{match.awayStake}}</br>
                    <h6>Profit:</h6> {{match.profit}}</br>
                </div>
            </li>
            <li class = "list-group-item list-group-item-danger" ng-if="match.profit < 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.away_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.awayOdd}}</br>
                    <h6>Stake:</h6> {{match.awayStake}}</br>
                    <h6>Profit:</h6> {{match.profit}}</br>
                </div>
            </li>
            <li class = "list-group-item list-group-item-info" ng-if="match.profit == 0.0">
                <div>
                    <h5>{{match.teams.home_team}} VS {{match.teams.away_team}}:</h5>
                    <h6>Bet:</h6> {{match.teams.away_team}} to win</br>
                    <h6>Odd:</h6> {{match.odd.awayOdd}}</br>
                    <h6>Stake:</h6> {{match.awayStake}}</br>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
