<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score predictor</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.7.9/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.7.9/angular-route.js"></script>
    <script src="../static/matches.js"></script>
    <script src="../static/requests.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class = "container"  ng-app = "matchModule" ng-controller = "matchController as vm">
        <h1>Voetbaltips</h1>
       <ul class = "list-group" ng-repeat = "match in vm.matches | filter:match.homeStake > 0 as betMatchesHome">
            <li class = "list-group-item ">{{match.teams.home_team}} VS {{match.teams.away_team}}: {{match.teams.home_team}} to win @ {{match.odd.homeOdd}}, stake: {{match.homeStake}}</li>
        </ul>
        <ul class = "list-group" ng-repeat = "match in vm.matches | filter:match.awayStake > 0 as betMatchesAway">
            <li class = "list-group-item ">{{match.teams.home_team}} VS {{match.teams.away_team}}: {{match.teams.away_team}} to win @ {{match.odd.awayOdd}}, stake: {{match.awayStake}}</li>
        </ul>
        <p ng-if = "betMatchesHome.length==0 && betMatchesAway.length==0">
            Er zijn vandaag geen tips. Morgen meer geluk!
        </p>
    </div>
</body>
</html>
